@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.checkbox-button-rich {

  &__input {
    display: none;

    &:checked + .checkbox-button-rich__label:before {
      border-color: $mainColor;
    }
    
    &:checked + .checkbox-button-rich__label:after {
      display: block;
    }
  }

  &__label {
    display: flex;
    cursor: pointer;

    &:hover:before {
      border-color: $mainColor;
    }
  
    &:before {
      content: "";  
      min-width: rem(20);
      height: rem(20);
      margin-right: rem(10);
      background-color: #FFFFFF;
      border: 1px solid $darkShade25;
      border-radius: 20%;
    }
  
    &:after {
      content: "";
      width: rem(8);
      height: rem(10);
      display: none;
      position: absolute;
      margin-left: rem(6);
      margin-top: rem(2);
      border-width: rem(2);
      border-style: solid;
      border-image: $gradient 0 1 1 0;
      transform: rotate(45deg);
    }
  }

  &__title {
    text-transform: none;
    font-size: rem(14);
    line-height: rem(18);
    color: $darkShade75;
    cursor: pointer;
  }

  &__description {
    font-size: rem(12);
    margin-top: rem(5);
    color: $darkShade50;
    cursor: pointer;
  }

  &__text {
    padding-top: rem(2);
    line-height: rem(14);
  }
}