mixin toggle(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/toggle/toggle.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  label.toggle
    input.toggle__input(type='checkbox' name=config.name checked=config.checked)
    p.toggle__text #{config.label}