.toggle {
  &__input {
    display: none;

    &:checked + .toggle__text:before {
      border-color: $mainColor;
    }
    
    &:checked + .toggle__text:after {
      background: $gradient;
      margin-left: rem(23);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    line-height: rem(18);
    color: $darkShade75;
    cursor: pointer;

    &:hover:before {
      border-color: $mainColor;
    }

    &:before {
      content: "";
      min-width: rem(40);
      height: rem(20);
      margin-right: rem(10);
      align-self: start;
      background-color: #FFFFFF;
      border: 1px solid $darkShade25;
      border-radius: rem(10);
    }

    &:after {
      content: "";
      width: rem(12);
      height: rem(12);
      position: absolute;
      margin-left: rem(5);
      align-self: flex-start;
      margin-top: rem(4);
      border-radius: 50%;
      background: $darkShade25;
      transition: 0.3s;
    }
  }
}