mixin toggle(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/toggle/toggle.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { name, label, checked } = config;

  label.toggle
    input.toggle__input(type="checkbox" name=name checked=checked)
    p.toggle__text #{label}
