extends ../../layout/landing 

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
include ../../common.blocks/login/login.pug  

block variables
  - let pageTitle = 'Вход';
  - let pageDescription = 'Вход';
  - let data = require("./login.data.json");

block styles
  link(rel="stylesheet" href="assets/css/app.css")

block header
  +header()

block footer
  +footer()

block content
  .login__background
    .login__wrapper
      .login__login-form
        +login()
        
      p.registration__description #{data.description}