extends ../../pug/layout/landing 

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
include ../../common.blocks/login/login.pug  


block variables
  - var title = 'Registration';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block header
  +header()

block content
  - var data = require("./login.data.json");

  .login__background
    .login__wrapper
      .login__login-form
        +login()
        
      
      p.registration__description #{data.description}

block footer
  +footer()