@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.login-page {

  &__background {
    background: url(../../img/backgrounds/background2.png);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }

  &__wrapper{
    max-width: rem(1160);
    height: rem(702);
    margin: auto;
    position: relative;

    @media screen and (min-width: rem(401)) and (max-width: rem(980)) {
      height: rem(600);
    }

    @media screen and (max-width: rem(400)) {
      height: rem(500);
    }
  }

  &__login-form {
    width: rem(380);
    position: absolute;
    top: rem(173);
    left: 0;
    right: 0;
    margin: 0 auto;

    @media screen and (min-width: rem(401)) and (max-width: rem(980)) {
      top: rem(113);
    }

    @media screen and (max-width: rem(400)) {
      width: 100%;
      top: rem(75);
    }
  }
}