extends ../../layout/landing 

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
include ../../common.blocks/login-form/login-form.pug  

block variables
  - const pageTitle = 'Вход';
  - const pageDescription = 'Вход';
  - const pageClass = 'login-page'
  - const data = require('./login.data.json');

block styles
  link(rel="stylesheet" href="assets/css/app.css")

block header
  +header()

block footer
  +footer()

block content
  .login-page__background
    .login-page__content
      .login-page__login-form
        +login-form()