mixin benefit(customConfig = {})
  - let blocks = require('@backend/Blocks.js');
  - let defaultConfig = require('@blocks/benefit/benefit.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  div(class=`benefit ${config.withBottomLine ? "benefit_with-bottom-line" : ""}`)
    i.material-icons.benefit__icon #{config.icon}
    .benefit__text
      h3.benefit__title #{config.title}
      p #{config.description}