@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.benefit {
  display: flex;
  padding-bottom: 20px;

  &_with-bottom-line {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__icon {
    margin-right: 10px;
    color: $mainColor;
    font-size: 48px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
  }
}