mixin benefit(customConfig ={})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/benefit/benefit.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .benefit
    i.material-icons.benefit__icon #{config.icon}
    .benefit__text
      h3.benefit__title #{config.title}
      p #{config.description}