mixin benefit(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/benefit/benefit.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, description, withBottomLine, icon } = config;

  - let benefitClass = `benefit`;
  - benefitClass += withBottomLine ? " benefit_with-bottom-line" : "";

  div(class=benefitClass)
    i.material-icons.benefit__icon #{icon}
    .benefit__text
      h3.benefit__title #{title}
      p #{description}
