.date-dropdown {
  display: flex;
  align-items: center;

  &__title {
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    height: 44px;
  
    box-sizing: border-box;
    padding: 0 14px;
  
    border: 1px solid $darkShade25;
    border-radius: 4px;
  
    font-family: $textFontFamily;
    font-size: 14px; 
    text-transform: uppercase;
    color: $darkShade75;
  
    cursor: pointer;
  
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-clear-button {
      display: none;
    }
  
    &:hover,
    &:focus {
      color: $darkShade75;
      border-color: $darkShade50;
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
  
    &:first-child {
      margin-right: 20px;
    }
  }

  &__expand-more {
    position: absolute;
    bottom: 0;
    right: 0;
  
    width: 44px;
    height: 44px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: $darkShade50;
  
    cursor: pointer;
  }
}