@import "../../scss/utils/vars.scss";

.date-dropdown {
  display: flex;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &__wrapper {
    width: 100%;
    position: relative;
  
    &:first-child {
      margin-right: rem(20);
    }
  }

  &__title {
    margin-bottom: rem(5);
  }

  &__expand-more {
    width: rem(44);
    height: rem(44);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkShade50;
    cursor: pointer;

    &:hover + .date-dropdown__input{
      border-color: $darkShade50;
    }
  }

  &__input {
    width: 100%;
    height: rem(44);
    padding: 0 rem(14);
    border: 1px solid $darkShade25;
    border-radius: 4px;
    font-family: $textFontFamily;
    font-size: rem(14); 
    text-transform: uppercase;
    color: $darkShade75;
    cursor: pointer;
  
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-clear-button {
      display: none;
    }
  
    &:hover,
    &:focus {
      border-color: $darkShade50;
    }
  }

  &__calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: rem(5);
    z-index: 3;

    &_dropped {
      display: block;
    }
  }
}