extends ../../layout/landing 

block styles
  link(rel="stylesheet" href="/assets/css/app.css")

block scripts
  script(type="text/javascript" src="/assets/js/landing.js")

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug 
include ../../common.blocks/search-form/search-form.pug

block variables
  - let title = 'Landing';
  - let description = 'Search page for TOXIN';

block header
  +header()

block content
  - let data = require("./landing.data.json");

  .landing__wrapper
    .landing
      .landing__search-form
        +search-form()
      
      p.landing__description #{data.description}

block footer
  +footer()