@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.landing {
  &__wrapper {
    width: 100%;
    background: url(../../img/background_1.png);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }

  &__content {
    max-width: rem(1160);
    height: rem(830);
    padding-top: rem(1);
    margin: auto;
    position: relative;

    @media screen and (min-width: rem(381)) and (max-width: rem(1160)) {
      width: 96%;
      height: rem(600);
    }

    @media screen and (max-width: rem(380)) {
      width: 100%;
      height: rem(550);
    }
  }

  &__search-form {
    width: rem(380);
    position: absolute;
    top: rem(70);
    left: 0;

    @media screen and (max-width: rem(380)){
      width: 100%;
      min-width: rem(345);
      right: 0;
      margin: auto;
    }
  }

  &__description {
    width: rem(297);
    position: absolute;
    bottom: rem(20);
    right: 0;
    text-align: right;

    @media screen and (min-width: rem(381)) and (max-width: rem(1160))  {
      right: rem(5)
    }

    @media screen and (max-width: rem(380)){
      width: 96%;
      right: 0;
      left: 0;
      text-align: center;
      margin: auto;
    }
  }
}