.wrapper {
  position: relative;
  width: 1160px;
  margin: auto;
  display: flex;

  &_wide {
    width: 1440px;
  }
}

.sidebar-wrapper {
  min-width: 266px;
  width: 266px;
  margin-right: 30px;
}

.content-wrapper {
  width: 100%;
  margin-left: 18px;
}