@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/Montserrat/Montserrat.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat/Montserrat.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Montserrat/Montserrat.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Montserrat/Montserrat.ttf')  format('truetype'), /* Safari, Android, iOS */
       //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}