@function rem($pixels, $context: $mainFontSize){
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}


//remove
@mixin icons_mixin($path) {
  .favorite div {
    clip-path: url($path + '#heart')
    //clip-path: circle();
  }
  
  .icon {
    width: 50px;
    height: 50px;
    fill: $darkShade25;
  }
}