//Fonts
$titleFontFamily         : 'Quicksand';
$textFontFamily          : 'Montserrat-Regular';
$textFontFamilyBold      : 'Montserrat-Bold';

//Size
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
$mainFieldWidth          : 320px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//Main colors
$mainColor               : #BC9CFF;
$mainColor50             : rgba(188,156,255,0.5);
$secondColor             : #6FCF97;
$gradient                : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

//Shade colors
$darkShade100            : rgba(31,32,65,1);
$darkShade75             : rgba(31,32,65,0.75);
$darkShade50             : rgba(31,32,65,0.5);
$darkShade25             : rgba(31,32,65,0.25);
$darkShade5              : rgba(31,32,65,0.05);