extends ../../layout/left-sidebar

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug 
include ../../common.blocks/sidebar/sidebar.pug 
include ../../common.blocks/suite/suite.pug 
include ../../common.blocks/pagination/pagination.pug 

block styles
  link(rel="stylesheet" href="assets/css/searchRoom.css")

block scripts
  script(type="text/javascript" src="assets/js/searchRoom.js")

block variables
  - const pageTitle = 'Search room'
  - const pageDescription = 'Searchroom'
  - const pageClass = 'searchroom'
  - const data = require("./search-room.data.json");
  - const { title, suites } = data;

block header
  +header()

block sidebar
  +sidebar()

block content
  h1.searchroom__title #{title}
  .searchroom__suites
    each suite in suites
      .searchroom__suite
        +suite(suite)
  .searchroom__pagination
    +pagination()

block footer
  +footer()
