extends ../../layout/left-sidebar

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug 
include ../../common.blocks/sidebar/sidebar.pug 
include ../../common.blocks/suite/suite.pug 
include ../../common.blocks/pagination/pagination.pug 

block styles
  link(rel="stylesheet" href="assets/css/searchRoom.css")

block scripts
  script(type="text/javascript" src="assets/js/searchRoom.js")

block variables
  - const pageTitle = 'Search room'
  - const pageDescription = 'Search room'
  - const pageClass = 'search-room js-search-room'
  - const sidebarClass = 'js-search-room__sidebar'
  - const data = require('./search-room.data.json');
  - const { title, suites } = data;

block header
  +header()

block sidebar
  +sidebar()

block content
  h1.search-room__title #{title}
  .search-room__suites
    each suite in suites
      .search-room__suite.js-search-room__suite
        +suite(suite)
  .search-room__pagination
    +pagination()

block footer
  +footer()
