include __option/drop-down__option.pug

mixin drop-down(customConfig = {})
  - var blocks = require('@plugins/blocks.js');
  - var defaultConfig = require('@blocks/drop-down/drop-down.config.json');
  - var config = blocks.createConfig(defaultConfig, customConfig);

  .drop-down(display_type=config.display_type)

    h3.drop-down__title #{config.title}
    
    .drop-down__field
      input.drop-down__field-input(value=config.default_value forms=config.value_forms disabled)
      i.material-icons.drop-down__expand-more #{config.icon}

    .drop-down__list
      if config.options
        each option in config.options
          +drop-down__option(option)

      if config.display_type=="total"
        .drop-down__submit-area
          .drop-down__button-wrapper.js-drop-down__clear-button
            +button(config.clearButton)
          .drop-down__button-wrapper.js-drop-down__submit-button
            +button(config.submitButton)