.drop-down__input {
  all: unset;
  width: 32px;
  border: 0;
  padding: 0;

  text-align: center;

  font-family: $textFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}