.drop-down__button {
  width: 30px;
  height: 30px;
  
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  border-radius: 15px;

  font-family: $textFontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $darkShade50;

  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}