.drop-down {
  width: 320px;
  height: 67px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import "drop-down_size/drop-down_size_s";

@import "drop-down__field/drop-down__field";
@import "drop-down__list/drop-down__list";
@import "drop-down__option/drop-down__option";
@import "drop-down__button/drop-down__button";
@import "drop-down__input/drop-down__input";
@import "drop-down__open-list/drop-down__open-list";