.drop-down {
  width: 320px;
  height: 63px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import "drop-down_size_s";

@import "drop-down__field/drop-down__field";
@import "drop-down__list/drop-down__list";
@import "drop-down__option";
@import "drop-down__button";
@import "drop-down__input";
@import "drop-down__expand-more";
@import "drop-down__option-title";
@import "drop-down__number";
@import "drop-down__submit-area"