.drop-down {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &__title {
    margin-bottom: 5px;
  }

  &__field {
    width: 100%;
    height: 44px;
    padding-left: 15px;
  
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background: #FFFFFF;
    border: 1px solid $darkShade25;
    border-radius: 4px;

    &:hover {
      border-color: $darkShade50;
    }

    &_drop {
      border-radius: 4px 4px 0 0;
      border-color: $darkShade50;
    }
  }

  &__field-input {
    box-sizing: border-box;
    background: white;
    border: 0;
  
    font-family: $textFontFamily;
    font-size: 14px;
    color: $darkShade75;
    text-overflow: ellipsis;
  }

  &__expand-more {
    width: 42px;
    height: 44px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
  }

  &__list {
    display: none;
    width: 100%;
    padding: 2px 6px 4px 14px;
  
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
  
    top: 100%;
  
    background: #FFFFFF;
    border: 1px solid $darkShade50;
    border-top: 0;
    border-radius: 0 0 4px 4px;

    &_drop {
      display: block;
    }
  }

  &__option {
    width: 100%;
    height: 37px;
    //padding: 0 6px 0 14px;
  
    box-sizing: border-box;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 30px;
    height: 30px;
    
    background: #FFFFFF;
    border: 1px solid $darkShade25;
    border-radius: 15px;
  
    font-family: $textFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: $darkShade50;
  
    cursor: pointer;
  
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__input {
    all: unset;
    width: 32px;
    border: 0;
    padding: 0;
  
    text-align: center;
  
    font-family: $textFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
  
    -moz-appearance: textfield;
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__option-title {
    font-family: $textFontFamilyBold;
    font-size: 12px;
    color: $darkShade100;
    text-transform: uppercase;
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__submit-area {
    display: flex;
    justify-content: space-between;
  }

  &__button-wrapper {
    padding: 19px 0 9px 0;
  }

  &__button_hidden {
    display: none;
  }
}