.drop-down__list {
  display: none;
  width: 100%;
  padding: 2px 6px 4px 14px;

  position: absolute;
  box-sizing: border-box;

  top: 100%;

  background: #FFFFFF;
  border: 1px solid $darkShade50;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

@import "drop-down__list_drop";