extends ../../layout/landing

block styles
  link(rel="stylesheet" href="assets/css/app.css")

include ../../common.blocks/logo/logo
include ../../common.blocks/color/color
include ../../common.blocks/type/type

block variables
  - const pageTitle = 'Colors & Type';
  - const pageDescription = 'Colors';
  - const pageClass = 'colors'

block content
  .colors__logo
    +logo_blank()

  .colors__color-wrapper
    +color('#1F2041', 'Dark Shade 100%', '#1F2041')
    +color('rgba(31, 32, 65, 0.75)', 'Dark Shade 75%', '#1F2041')
    +color('rgba(31, 32, 65, 0.50)', 'Dark Shade 50%', '#1F2041')
    +color('rgba(31, 32, 65, 0.25)', 'Dark Shade 25%', '#1F2041')
    +color('rgba(31, 32, 65, 0.05)', 'Dark Shade 5%', '#1F2041')
    +color('#BC9CFF', 'Purple', '#BC9CFF')
    +color('#6FCF97', 'Green', '#6FCF97')

  .colors__types
    +type('h1', 'This one is the sub-section or widget title', true, false)
    +type('h2', 'Next one is the item title inside widgets', true)
    +type('h3', 'This is a label or CTA text')
    +type('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc')
