mixin subscription-text-field(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/subscription-text-field/subscription-text-field.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { method, action, placeholder, icon } = config;

  form.subscription-text-field(method=method action=action)
    input.subscription-text-field__input(type="email" name='Email' placeholder=placeholder)
    button.subscription-text-field__button(type="submit")
      i.material-icons.subscription-text-field__icon #{icon}
