.subscription-text-field {
  height: 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $darkShade25;
  border-radius: 4px;

  &:hover {
    border-color: $darkShade50;
  }

  &__input{
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 15px;
    border-radius: 4px;
  
    color: $darkShade75;
    font-size: 14px;
  
    &::-webkit-input-placeholder {color: $darkShade25;}
    &::-moz-placeholder          {color: $darkShade25;}/* Firefox 19+ */
    &:-moz-placeholder           {color: $darkShade25;}/* Firefox 18- */
    &:-ms-input-placeholder      {color: $darkShade25;}
  }

  &__button {
    min-width: 44px;
    height: 100%;
    line-height: 100%;
  
    background: white;
    border: 0;
    border-radius: 4px;
  
    cursor: pointer;
  }

  &__icon {
    color: $mainColor;
    line-height: 100%;
  
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}