@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.color {
  display: flex;
  padding-top: 20px;

  &:first-child {
    padding: 0;
  }

  &__example {
    width: 70px;
    height: 70px;
  
    border-radius: 6px;
    background: $darkShade5;
  }

  &__title {
    line-height: 29px;
    padding: 7px 0 0 40px;
  }

  &__code {
    font-weight: normal;
  }
}
