.registration {
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__title {
    font-size: rem(25);
    padding: rem(10) 0 rem(15) 0;
  }

  &__field {
    padding: rem(5) 0;
  }

  &__gender {
    display: flex;
    padding: rem(5) 0;
  }

  &__gender-radio-button {
    margin-left: rem(20);

    &:first-child {
      margin-left: 0;
    }
  }

  &__birth-date {
    padding: rem(20) 0 0 0;
  }

  &__subtitle {
    padding: rem(20) 0 0 0;
  }

  &__submit {
    margin: rem(20) 0;
    height: rem(44);
  }

  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-top: rem(10);
  }

  &__login-button {
    height: rem(44);
  }
}