include ../text-field/text-field.pug 
include ../radio-button/radio-button.pug 
include ../masked-text-field/masked-text-field.pug 
include ../toggle/toggle.pug 
include ../button/button.pug 

mixin registration()
  form.registration(action="")
    h1.registration__title Регистрация аккаунта
    .registration__field
      +text-field('name', '', 'Имя')
    .registration__field
      +text-field('lastname', '', 'Фамилия')
    .registration__gender
      .registration__gender-radio-button
        +radio-button('gender', 'Мужчина', 'checked')
      .registration__gender-radio-button
        +radio-button('gender', 'Женщина')
    .registration__birth-date
      +masked-text-field('birth', 'Дата рождения')
    .registration__subtitle
      h3 Данные для входа в сервис
    .registration__field
      +text-field('email', '', 'Email')
    .registration__field
      +text-field('password', '', 'Пароль')
    .registration__field
      +toggle('offers', 'Получать спецпредложения')
    .registration__submit
      +button('Перейти к оплате', 'size_l')
    .registration__login
      p Уже есть аккаунт на Toxin
      button.button.button_empty Войти
