.registration {
  box-sizing: border-box;
  width: 380px;
  padding: 30px 30px 30px 30px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__title {
    font-size: 25px;
    padding: 10px 0 15px 0;
  }

  &__field {
    padding: 5px 0;
  }

  &__gender {
    display: flex;
    padding: 5px 0;
  }

  &__gender-radio-button {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__birth-date {
    padding: 20px 0 0 0;
  }

  &__subtitle {
    padding: 20px 0 0 0;
  }

  &__submit {
    padding: 20px 0;
  }

  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 10px 0 0 0;
  }
}