include ../text-field/text-field.pug 
include ../button/button.pug 

mixin login-form(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/login-form/login-form.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { method, action, vocabulary, textFields, buttons } = config;
  - const { title, registrationText } = vocabulary;

  form.login-form(method=method action=action)
    h1.login-form__title #{title}
    .login-form__text-field
      +text-field(textFields[0])
    .login-form__text-field
      +text-field(textFields[1])
    .login-form__button
      +button(buttons[0])
    .login-form__registration
      p #{registrationText}
      .login-form__registration-button
        +button(buttons[1])
