extends ../../layout/landing

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug 

block variables
  - let pageTitle = 'Headers & Footers';
  - let pageDescription = 'Headers';

block styles
  link(rel="stylesheet" href="assets/css/app.css")

block header
  - var data = require("./headers.data.json");
  
  .headers

    .headers__header1
      +header(data.headers[0])

    .headers__header2
      +header(data.headers[1])

    .headers__footer1
      +footer(data.footers[0])

    .headers__footer2
      +footer(data.footers[1])