extends ../../pug/layout/main

block styles
  link(rel="stylesheet" href="/assets/css/app.css")

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug 

block variables
  - var title = 'Headers & Footers';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block header
  - var data = require("./headers.data.json");
  
  .headers

    .headers__header1
      +header(data.headers[0])

    .headers__header2
      +header(data.headers[1])

    .headers__footer1
      +footer(data.footers[0])

    .headers__footer2
      +footer(data.footers[1])