@import "../../scss/utils/vars.scss";

.receipt {
  padding: rem(30);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-top: rem(10);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title-number {
    font-size: rem(24);
    line-height: rem(30);
  }

  &__title-number-sign {
    margin-right: rem(5);
    font-size: rem(14);
  }

  &__title-lux {
    margin-left: rem(5);
    font-size: rem(12);
    text-transform: uppercase;
  }

  &__title-price {
    font-size: rem(14);
    font-weight: bold;
    line-height: 30px;
    color: $darkShade50;

    & > span {
      margin-left: rem(5);
      font-size: rem(11);
      font-weight: normal;
    }
  }

  &__dates {
    margin-top: rem(15);
  }

  &__guests {
    margin-top: rem(23);
  }

  &__costs {
    margin-top: rem(18);
  }

  &__cost {
    display: flex;
    justify-content: space-between;
    margin-top: rem(10);
    padding: rem(3) 0;
    color: $darkShade75;
    line-height: rem(18);

    &:first-child {
      margin-top: 0;
    }
  }

  &__cost-title {
    min-width: rem(214);
  }

  &__cost-icon-wrapper {
    width: 100%;
  }

  &__cost-icon {
    width: rem(20);
    height: rem(20);
    margin-left: rem(5);
    border: 1px solid $darkShade25;
    border-radius: 50%;
    font-size: rem(12);
    text-align: center;
    color: $darkShade25;

    cursor: default;
  }

  &__total {
    display: flex;
    align-items: stretch;

    margin-top: rem(25);
  }

  &__total-dots {
    width: 100%;
    margin: rem(5);
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  }

  &__total-number {
    white-space: nowrap;
  }

  &__submit {
    margin-top: rem(20);
    height: rem(44);
  }
}