.receipt {
  padding: 30px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title-number {
    font-size: 24px;
    line-height: 30px;
  }

  &__title-number-sign {
    margin-right: 5px;
    font-size: 14px;
  }

  &__title-lux {
    margin-left: 5px;

    font-family: $textFontFamily;
    font-size: 12px;
    color: $mainColor;
    text-transform: uppercase;
  }

  &__title-price {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: $darkShade50;

    & > span {
      margin-left: 5px;
      font-size: 11px;
      font-weight: normal;
    }
  }

  &__dates {
    margin-top: 15px;
  }

  &__guests {
    margin-top: 23px;
  }

  &__costs {
    margin-top: 18px;
  }

  &__cost {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 3px 0;
    color: $darkShade75;
    line-height: 18px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__total {
    display: flex;
    align-items: stretch;

    margin-top: 28px;
  }

  &__total-dots {
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  }

  &__total-number {
    white-space: nowrap;
  }

  &__submit {
    margin-top: 20px;
    height: 44px;
  }
}