mixin range-slider(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/range-slider/range-slider.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, firstValue, secondValue } = config;

  .range-slider
    .range-slider__header
      h3.range-slider__title #{title}
      .range-slider__range.js-range-slider__range
      input.js-range-slider__first-value(value=firstValue type="number" hidden)
      input.js-range-slider__second-value(value=secondValue type="number" hidden)
    .range-slider__line.js-range-slider__line
