@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.feedback {
  display: flex;

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: rem(48);
    height: rem(48);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1)
  }

  &__like-button {
    margin-top: rem(12);
  }

  &__text-container {
    margin-left: rem(9.33);
  }

  &__name {
    font-weight: bold;
  }

  &__last-seen {
    margin-bottom: rem(10);
  }
}