mixin pagination
  .pagination
    nav.pagination__list
      a.pagination__link.pagination__link_active 1
      a.pagination__link 2
      a.pagination__link 3
      a.pagination__link ...
      a.pagination__link 15
      a.pagination__link.pagination__arrow
        i.material-icons arrow_forward
    .pagination__description 1 – 12 из 100+ вариантов аренды