mixin pagination(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/pagination/pagination.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { vocabulary } = config;
  - const { arrow, description } = vocabulary;

  .pagination
    nav.pagination__list
      a.pagination__link.pagination__link_active 1
      a.pagination__link 2
      a.pagination__link 3
      a.pagination__link ...
      a.pagination__link 15
      a.pagination__link.pagination__arrow
        i.material-icons #{arrow}
    .pagination__description #{description}
