mixin pagination(customConfig = {})
  - let blocks = require('@backend/Blocks.js');
  - let defaultConfig = require('@blocks/pagination/pagination.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .pagination
    nav.pagination__list
      a.pagination__link.pagination__link_active 1
      a.pagination__link 2
      a.pagination__link 3
      a.pagination__link ...
      a.pagination__link 15
      a.pagination__link.pagination__arrow
        i.material-icons #{config.vocabulary.arrow}
    .pagination__description #{config.vocabulary.description}