@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.form-elements {
  &__logo {
    padding-top: 30px; //should think about a better way to position logo
    padding-left: 30px;
  }

  &__content {
    max-width: rem(1160);
    margin: auto;
    padding: rem(58.5) 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: $desktopWidth) {
      max-width: 90%;
    }
  }

  &__column {
    width: 27.59%;
    margin-bottom: rem(90);

    @media screen and (max-width: $desktopWidth) {
      width: 32%;
    }

    @media screen and (min-width: 670px) and (max-width: $smDesktopWidth) {
      width: 48%;
    }

    @media screen and (max-width: 670px) {
      width: 100%;
      margin-bottom: rem(20);
    }
  }

  &__text-field {
    margin-left: rem(1);
  }

  &__text-field-hover {
    margin-top: rem(21.4);
    margin-left: rem(1);
  }

  &__dropdown {
    margin-top: rem(21);
    margin-left: rem(1);
  }

  &__masked-text-field {
    margin-top: rem(23);
    margin-left: rem(1);
  }

  &__date-dropdown {
    margin-top: rem(40);
    margin-left: rem(1);
  }

  &__filter-date-dropdown {
    width: rem(266);
    margin-top: rem(42);
    margin-left: rem(1);

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__subscription-title {
    margin-bottom: rem(5);
  }

  &__subscription-text-field {
    width: rem(266);
    margin-top: rem(41);

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__checkbox-buttons {
    width: rem(200);
  }

  &__checkbox-buttons-title {
    margin-bottom: rem(11);
  }

  &__checkbox-button {
    padding: rem(5) 0;
  }

  &__radio-buttons {
    margin-top: rem(40);
  }

  &__radio-buttons-container {
    display: flex;
    margin-top: rem(16);
  }

  &__radio-button {
    margin-left: rem(20);

    &:first-child {
      margin-left: 0;
    }
  }

  &__toggle {
    margin-top: rem(41);
  }

  &__toggle-item {
    margin-top: rem(14);
  }

  &__like-buttons {
    margin-top: rem(46);
  }

  &__like-buttons-container {
    margin-top: rem(16);
    display: flex;
  }

  &__like-button {
    margin-left: rem(10);

    &:first-child {
      margin-left: 0;
    }
  }

  &__rate-buttons {
    margin-top: rem(41);
  }

  &__rate-buttons-container {
    margin-top: rem(16);
    display: flex;
  }

  &__rate-button {
    margin-left: rem(20);

    &:first-child {
      margin-left: 0;
    }
  }

  &__slider {
    width: rem(266);
  }

  &__buttons {
    margin-top: rem(44);
  }
  
  &__buttons-title {
    margin-bottom: rem(15);
  }
  
  &__buttons-line {
    display: flex;
    margin-top: rem(32);
  
    &_first {
      margin-top: 0;
    }
  }
  
  &__button {
    height: rem(44);
    margin-left: rem(20);
    line-height: rem(12);
  
    &:first-child {
      margin-left: 0;
    }
  
    &_size_l {
      width: 100%;
    }
  
    &_empty {
      height: auto;
    }
  }

  &__pagination {
    margin-top: rem(41);
  }

  &__pagination-title {
    margin-bottom: rem(16);
  }

  &__dropdown-default {
    width: rem(266);
    margin-top: rem(10);

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__dropdown-expanded {
    width: rem(266);
    margin-top: rem(21);

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__drop-down4 {
    width: 100%;
    margin-top: rem(10);
  }

  &__drop-down5 {
    width: 100%;
    margin-top: rem(10);
  }

  &__expandable-checkbox-list {
    width: 83.125%;
    margin-top: rem(69);
    
    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__expandable-checkbox-list-expanded {
    width: 83.125%;
    margin-top: rem(21);

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__rich-checkbox-buttons {
    width: 73.75%;
    margin-top: rem(82);
    
    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }

  &__rich-checkbox-buttons-title {
    margin-bottom: rem(11);
  }

  &__rich-checkbox-button {
    padding: rem(5) 0;
  }

  &__bullet-list {
    width: 100%;
    margin-top: rem(82.5);
  }

  &__bullet-list-title {
    margin-bottom: rem(9);
  }

  &__bullet {
    padding: rem(5) 0;
  }

  &__benefits {
    margin-top: rem(7);
  }

  &__benefit {
    margin-top: rem(20);

    &:first-child {
      margin-top: 0;
    }
  }

  &__feedback {
    width: 63.795%;
    margin-top: rem(16);
    margin-bottom: rem(100);

    @media screen and (max-width: $desktopWidth) {
      width: 65%;
    }

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  }
}