.filter-date-dropdown {
  width: 100%;
  position: relative;

  &__title {
    margin-bottom: rem(5);
  }

  &__field {
    position: relative;
    width: 100%;
    height: rem(44);
    display: flex;
    background: #FFFFFF;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      border-color: $darkShade50;
    }
  }

  &__icon {
    width: rem(42);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    padding: 0 rem(15);
    border: 0;
    color: $darkShade75;
    background: transparent;
    cursor: pointer;
  }

  &__arrival-date,
  &__leaving-date {
    display: none;
  }

  &__calendar {
    display: none;
    width: rem(320);
    position: absolute;
    left: 0;
    z-index: 3;
    margin-top: rem(5);

    &_dropped {
      display: block;
    }
  }
}