.search-form {
  width: 100%;
  padding: rem(30);

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;

  &__title {
    margin-top: rem(10);
  }

  &__dates {
    margin-top: rem(20);
  }

  &__guests {
    margin-top: rem(20);
  }

  &__submit {
    height: rem(44);
    margin-top: rem(31);
  }
}