include ../date-dropdown/date-dropdown.pug 
include ../dropdown/dropdown.pug 
include ../button/button.pug 

mixin search-form(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/search-form/search-form.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  form.search-form(method=config.method action=config.action)
    h1.search-form__title #{config.title}
    .search-form__dates
      +date-dropdown(config.dates_parameters)
    .search-form__guests
      +drop-down(config.guests_parameters)
    .search-form__submit
      +button(config.button)