extends ../../layout/landing 

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
include ../../common.blocks/registration/registration.pug  

block styles
  link(rel="stylesheet" href="assets/css/app.css")

block variables
  - let title = 'Registration';
  - let description = 'Registration';
  - let pageClass = 'index-page';

block header
  +header()

block content
  - let data = require("./registration.data.json");

  .registration__background
    .registration__wrapper
      .registration__registration-form
        +registration()
        
      
      p.registration__description #{data.description}

block footer
  +footer()