extends ../../layout/landing 

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
include ../../common.blocks/registration-form/registration-form.pug  

block styles
  link(rel="stylesheet" href="assets/css/app.css")

block variables
  - let pageTitle = 'Registration';
  - let pageDescription = 'Registration';
  - let pageClass = 'registration';

block header
  +header()

block content
  - let data = require("./registration.data.json");

  .registration__background
    .registration__wrapper
      .registration__registration-form
        +registration-form()

block footer
  +footer()