.registration {

  &__background {
    width: 100%;
    background: url(../img/background_2.png);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }

  &__wrapper{
    max-width: rem(1160);
    height: rem(682);
    margin: auto;
    position: relative;
  }

  &__registration-form {
    width: rem(380);
    position: absolute;
    top: rem(20);
    left: 0;
    right: 0;
    margin: 0 auto;

    @media screen and (max-width: rem(380)) {
      width: 100%;
    }
  }
}