extends ../../layout/landing 

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
include ../../common.blocks/registration-form/registration-form.pug  

block styles
  link(rel="stylesheet" href="assets/css/app.css")

block variables
  - const pageTitle = 'Registration';
  - const pageDescription = 'Registration';
  - const pageClass = 'registration';
  - const data = require("./registration.data.json");

block header
  +header()

block footer
  +footer()

block content
  .registration__background
    .registration__content
      .registration__registration-form
        +registration-form()
