@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 rem(20);
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: $textFontFamily;
  font-weight: bold;
  font-size: rem(12);
  border: 0px;
  border-radius: rem(22);
  color: white;
  background: $gradient;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &_empty {
    position: relative;
    color: $mainColor;

    &::after {
      content: '';
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      border: 0.143rem solid transparent;
      background-color: white;
      background-clip: padding-box;
    }
  }

  &_size_l {
    width: 100%;
    padding-right: rem(40);
  }

  &_no-background {
    width: auto;
    height: auto;
    background: none;
    border: 0;
    padding: 0;
    color: $mainColor;

    &:hover,
    &:disabled {
      color: $darkShade50;
    }
  }

  &_color_grey {
    color: $darkShade50;
  }

  &_hidden {
    display: none;
  }

  &__label {
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(44);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}