.button {
  //width: 99px;
  //height: 44px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;

  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: $textFontFamilyBold;
  font-size: 12px;

  border: 0px;
  border-radius: 22px;

  color: white;
  background: $gradient;

  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &_empty {
    color: $mainColor;
    background: transparent;
    border: 2px solid $mainColor;
    padding: 0 18px;

    &:disabled {
      opacity: 1;
      border-color: $mainColor50;
    }
  }

  &_size_l {
    width: 100%;
  }

  &_no-background {
    width: auto;
    height: auto;
    background: none;
    border: 0;
  
    color: $mainColor;

    &:disabled {
      color: $darkShade50;
    }
  }

  &_color_grey {
    color: $darkShade50;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
}