mixin feedback()
  .feedback
    .feedback__image-container
      img.feedback__image(src='/assets/img/feedback-image.png')
      .feedback__like-button
        +like-button(12, 'liked')
    .feedback__text-container
      p.feedback__name Мурад Сарафанов
      p.feedback__last-seen 5 дней назад
      p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.