.like-button {
  display: flex;

  width: 40px;
  height: 20px;

  border: 1px solid $darkShade25;
  border-radius: 10px;

  cursor: pointer;
}

@import "./like-button__icon/like-button__icon.scss";
@import "./like-button__number/like-button__number.scss";

@import "./like-button_liked.scss";