@import "../../scss/utils/vars.scss";

.like-button {
  width: rem(40);
  height: rem(20);
  display: flex;
  border: 1px solid $darkShade25;
  border-radius: rem(10);
  cursor: pointer;

  &:hover {
    border-color: $mainColor;
  }

  &_liked {
    border-color: $mainColor;
    color: $mainColor;
  }

  &__icon {
    min-width: rem(16);
    height: rem(18);
    font-size: rem(10);
    color: $darkShade25;
    line-height: rem(18);
    text-align: center;

    &_liked {
      color: $mainColor;
    }
  }

  &__number {
    width: 100%;
    display: inline-block;
    margin-left: rem(2);
    font-size: rem(10);
    color: $darkShade25;
    line-height: 100%;
    background: transparent;
    border: 0;
    cursor: pointer;
    -moz-appearance: textfield;
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      outline: 0;
      background: transparent;
    }

    &_liked {
      color: $mainColor;
    }
  }
}