@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.like-button {
  position: relative;
  width: rem(40);
  height: rem(20);
  display: flex;
  background: $darkShade25;
  border-radius: rem(10);
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: rem(40);
    height: rem(20);
    border-radius: inherit;
    border: rem(1) solid transparent;
    background-color: white;
    background-clip: padding-box;
  }

  &:hover {
    background: $gradient;
  }

  &_liked {
    background: $gradient;
    color: $mainColor;
  }

  &__icon {
    z-index: 1;
    min-width: rem(18);
    height: rem(20);
    font-size: rem(10);
    color: $darkShade25;
    line-height: rem(20);
    text-align: center;

    &_liked {
      color: $mainColor;
    }
  }

  &__number {
    width: 100%;
    z-index: 1;
    display: inline-block;
    font-family: $textFontFamily;
    font-size: rem(10);
    color: $darkShade25;
    line-height: rem(20);
    background: transparent;
    border: 0;
    cursor: pointer;
    -moz-appearance: textfield;
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      outline: 0;
      background: transparent;
    }

    &_liked {
      color: $mainColor;
    }
  }
}