.expandable-checkbox-list {
  position: relative;
  width: 266px;
}

@import "./expandable-checkbox-list__list/expandable-checkbox-list__list.scss";
@import "./expandable-checkbox-list__title/expandable-checkbox-list__title.scss";
@import "./expandable-checkbox-list__expand-more/expandable-checkbox-list__expand-more.scss";