.expandable-checkbox-list {
  position: relative;

  &__title {
    line-height: 44px;
    cursor: pointer;
  }

  &__list {
    overflow: hidden;
  }

  &__list-item {
    padding: 5px 0;
  }

  &__expand-more {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
  
    line-height: 44px;
    text-align: center;
    color: $darkShade50;

    &_expanded {
      transform: rotate(-180deg);
    }
  }
}