@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.expandable-checkbox-list {

  &__field {
    width: 100%;
    height: rem(42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    cursor: pointer;
  }

  &__icon {
    width: rem(44);
    text-align: center;
    color: $darkShade50;

    &_expanded {
      transform: rotate(-180deg);
    }
  }

  &__list {
    overflow: hidden;
  }

  &__list-item {
    padding: rem(5) 0;
  }
}