mixin expandable-checkbox-list(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/expandable-checkbox-list/expandable-checkbox-list.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, expanded, icon, checkboxButtons } = config;
  - const iconClasses = expanded ? 'expandable-checkbox-list__icon_expanded' : '';
  
  .expandable-checkbox-list

    .expandable-checkbox-list__field.js-expandable-checkbox-list__field
      h3.expandable-checkbox-list__title #{title}
      i.material-icons.expandable-checkbox-list__icon.js-expandable-checkbox-list__icon(class=iconClasses) #{icon}    

    .expandable-checkbox-list__list.js-expandable-checkbox-list__list
      if checkboxButtons
        each button in checkboxButtons
          .expandable-checkbox-list__list-item
            +checkbox-button(button)
