mixin checkbox-button(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/checkbox-button/checkbox-button.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { name, label, checked } = config;

  label.checkbox-button
    input.checkbox-button__input(type='checkbox' name=name checked=checked)
    p.checkbox-button__text #{label}
