@import "../../scss/utils/vars.scss";

.checkbox-button {
  width: 100%;

  &__input {
    display: none;

    &:checked + .checkbox-button__text:before {
      border-color: $mainColor;
    }
    
    &:checked + .checkbox-button__text:after {
      display: block;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    color: $darkShade50;
    line-height: rem(18);
    cursor: pointer;
  
    &:hover:before {
      border-color: $mainColor;
    }
  
    &:before {
      content: "";
      align-self: start;
      display: inline-block;
      min-width: rem(20);
      height: rem(20);
      margin-right: rem(10);
      border: 1px solid $darkShade25;
      border-radius: 4px;
    }
  
    &:after {
      content: "";
      display: none;
      position: absolute;
      margin-left: rem(6);
      align-self: flex-start;
      margin-top: rem(2);
      width: rem(8);
      height: rem(10);
      border-width: rem(2);
      border-style: solid;
      border-image: $gradient 0 1 1 0;
      transform: rotate(45deg);
    }
  }
}