mixin checkbox-button(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/checkbox-button/checkbox-button.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  label.checkbox-button
    input.checkbox-button__input(type='checkbox' name=config.name checked=config.checked)
    p.checkbox-button__text #{config.label}
      