extends ../layout/main

include ../../common.blocks/logo/logo.pug 
include ../../common.blocks/registration/registration.pug 

block variables
  - var title = 'Cards';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  .cards
    .cards__logo
      +logo_blank()

    .cards__registration
      +registration()