extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

include ../includes/blocks/color.pug

block content
  .colors
    +color('#1F2041', 'Dark Shade 100%', '#1F2041')
