extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/blocks/text-field.pug
  //include ../includes/blocks/drop-down/drop-down.pug

  include ../includes/blocks/checkbox-button/checkbox-button.pug
  +checkbox-button('smoke', 'Можно курить')

  include ../includes/blocks/checkbox-button-rich/checkbox-button-rich.pug
  div
    +checkbox-button-rich('hall', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
    +checkbox-button-rich('helper', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера')