extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/blocks/text-field.pug
  //include ../includes/blocks/drop-down/drop-down.pug
  include ../includes/blocks/checkbox-button/checkbox-button.pug
  div
    +checkbox-button('smoke', "Можно курить")
    +checkbox-button('pets', "Можно с питомцами")
    +checkbox-button('guests', "Можно пригласить гостей (до 10 человек)")