extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/blocks/checkbox-button/checkbox-button.pug
  +checkbox-button('smoke', 'Можно курить')

  include ../includes/blocks/toggle/toggle.pug
  +toggle('offer', 'Получать спецпредложения')