extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/blocks/text-field.pug
  //include ../includes/blocks/drop-down/drop-down.pug
  include ../includes/blocks/radio-button/radio-button.pug
  
  .radio-buttons
    +radio-button('gender', 'male', 'Мужчина')
    +radio-button('gender', 'female', 'Женщина')