extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/blocks/checkbox-button/checkbox-button.pug
  +checkbox-button('smoke', 'Можно курить')

  include ../includes/blocks/like-button.pug 
  +like-button(10, 'liked')