mixin button($name)
  button.button=$name

mixin button_empty($name)
  button.button.button_empty=$name

mixin button_no-background($name)
  button.button.button_no-background=$name

mixin button_size_l($name)
  button.button.button_size_l=$name
    i.button__arrow