.masked-text-field {
  width: 100%;

  &__title {
    margin-bottom: rem(5);
  }

  &__input {
    width: 100%;
    height: rem(44);
    padding: 0 rem(14);
    border: 1px solid $darkShade25;
    border-radius: 4px;
    font-family: $textFontFamily;
    font-size: rem(14); 
    text-transform: uppercase;
    color: $darkShade25;
    cursor: text;
  
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-clear-button {
      display: none;
    }
  
    &:hover,
    &:focus {
      color: $darkShade75;
      border-color: $darkShade50;
    }
  }
}