.masked-text-field {
  width: 100%;

  &__title {
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    height: 44px;
  
    box-sizing: border-box;
    padding: 0 14px;
  
    border: 1px solid $darkShade25;
    border-radius: 4px;
  
    font-family: $textFontFamily;
    font-size: 14px; 
    text-transform: uppercase;
    color: $darkShade25;
  
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-clear-button {
      display: none;
    }
  
    &:hover,
    &:focus {
      color: $darkShade75;
      border-color: $darkShade50;
    }
  }
}