mixin radio-button(customConfig)
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/radio-button/radio-button.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { name, label, value, checked } = config;

  label.radio-button
    input.radio-button__input(type="radio" name=name value=value checked=checked)
    p.radio-button__text #{label}
