mixin radio-button(name, text, checked)
  label
    if checked=='checked'
      input.radio-button__input(type='radio' name=name checked)
    else
      input.radio-button__input(type='radio' name=name)
    p.radio-button__text #{text}