@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.text-field {

  &__title {
    margin-bottom: rem(5);
  }

  &__input {
    width: 100%;
    height: rem(44);
    padding: 0 rem(14);
    border: 1px solid $darkShade25;
    border-radius: 4px;
    font-family: $textFontFamily;
    font-size: rem(14);
    color: $darkShade75;

    &::placeholder {
      color: $darkShade25;
    }
    
    &:hover,
    &:focus {
      border-color: $darkShade50;
      color: $darkShade75;
    }
  }
}