.text-field {
  &__title {
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    height: 44px;
    padding: 0 14px;
  
    box-sizing: border-box;
  
    background: #FFFFFF;
    border: 1px solid $darkShade25;
    border-radius: 4px;
  
    font-family: $textFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: $darkShade75;
  
    &::-webkit-input-placeholder {
      color: $darkShade25;
    }
  
    &::-moz-placeholder {
      color: $darkShade25;
    }
  
    &:hover,
    &:focus {
      border-color: $darkShade50;
      color: $darkShade75;
    }
  }
}