.expandable-checkbox-list__expand-more {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;

  line-height: 44px;
  text-align: center;
  color: $darkShade50;
}

@import "./expandable-checkbox-list__expand-more_upsidedown/expandable-checkbox-list__expand-more_upsidedown.scss";