@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.calendar {
  padding: rem(20) rem(19);

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__day-name {
    height: rem(40);
    font-size: rem(12);
    color: $mainColor;
  }

  &__left-arrow,
  &__right-arrow {
    color: $mainColor;
    cursor: pointer;
    user-select: none;
  }

  &__arrow-inactive {
    color: $darkShade25;
    cursor: default;
  }

  &__table-wrapper {
    width: 100%;
    margin-top: rem(30);
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__number {
    min-width: rem(40);
    height: rem(40);
    padding: 0;

    font-size: rem(12);
    color: $darkShade50;
    text-align: center;

    &:first-child {
      border-radius: 50% 0 0 50%;
    }

    &:last-child {
      border-radius: 0 50% 50% 0;
    }
  }

  &__day-inactive {
    color: $darkShade25;
  }

  &__current-date {
    height: 100%;
    line-height: rem(40);

    font-weight: bold;
    color: white;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
  }

  &__date-between {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  }

  &__chosen-date {
    height: 100%;
    line-height: rem(40);

    font-weight: bold;
    color: white;
    background: $gradient;
    border-radius: 50%;
  }

  &__arrival-date {
    border-radius: 50% 0 0 50%;

    &:last-child {
      border-radius: 50%;
    }
  }

  &__leaving-date {
    border-radius: 0 50% 50% 0;

    &:first-child {
      border-radius: 50%;
    }
  }

  &__picking-arrival-date {
    cursor: pointer;

    &:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      border-radius: 50% 0 0 50%;
    }
  }

  &__picking-leaving-date {
    cursor: pointer;

    &:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      border-radius: 0 50% 50% 0;
    }
  }

  &__buttons {
    margin-top: rem(20);
    display: flex;
    justify-content: space-between;
  }
}