mixin calendar()

  .calendar
    .calendar__header
      i.material-icons.calendar__left-arrow arrow_back
      h2.calendar__title Август 2019
      i.material-icons.calendar__right-arrow arrow_forward

    table.calendar__table
      thead
        tr
          th.calendar__day-name Пн
          th.calendar__day-name Вт
          th.calendar__day-name Ср
          th.calendar__day-name Чт
          th.calendar__day-name Пт
          th.calendar__day-name Сб
          th.calendar__day-name Вс
      