.expandable-checkbox-list
  h3.expandable-checkbox-list__title expandable checkbox list
    i.material-icons.expandable-checkbox-list__expand-more.expandable-checkbox-list__expand-more_upsidedown expand_more
  .expandable-checkbox-list__list
    +checkbox-button("breakfast", "Завтрак")
    +checkbox-button("desk", "Письменный стол")
    +checkbox-button("baby-chair", "Стул для кормления")
    +checkbox-button("baby-bed", "Кроватка")
    +checkbox-button("TV", "Телевизор")
    +checkbox-button("Shampoo", "Шампунь")