extends ../../layout/leftsidebar

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug 
include ../../common.blocks/sidebar/sidebar.pug 
include ../../common.blocks/suite/suite.pug 
include ../../common.blocks/pagination/pagination.pug 

block styles
  link(rel="stylesheet" href="assets/css/searchroom.css")

block scripts
  script(type="text/javascript" src="assets/js/searchroom.js")

block variables
  - let pageTitle = 'Search room'
  - let pageDescription = 'Searchroom'

block header
  +header()

block sidebar
  +sidebar()

block content
  - let data = require("./searchroom.data.json");

  h1.searchroom-title Номера, которые мы для вас подобрали
  .searchroom
    each suite in data.suites
      .searchroom__suite
        +suite(suite)
  .searchroom-pagination
    +pagination()

block footer
  +footer()