@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.menu-icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__line {
    width: 100%;
    height: 15%;
    background: $gradient;
    border-radius: 4px;
  }
}