.sidebar {
  padding-top: 30px;

  &__guests {
    margin-top: 20px;
  }

  &__checkbox-buttons {
    margin-top: 30px;
  }

  &__checkbox-button {
    margin-top: 10.56px;
  }

  &__features {
    margin-top: 30px;
  }

  &__feauture {
    margin-top: 10px;
  }

  &__amenities {
    margin-top: 30px;
  }

  &__convinience {
    margin-top: 30px;
  }
}