.sidebar {
  padding-top: rem(30);

  &__guests {
    margin-top: rem(20);
  }

  &__slider {
    margin-top: rem(30);
  }

  &__slider-text {
    font-size: rem(12);
    margin-top: rem(13.56);
  }

  &__checkbox-buttons {
    margin-top: rem(30);
  }

  &__checkbox-button {
    margin-top: rem(10.56);
  }

  &__features {
    margin-top: rem(30);
  }

  &__feauture {
    margin-top: rem(10);
  }

  &__amenities {
    margin-top: rem(30);
  }

  &__convinience {
    margin-top: rem(30);
  }
}