@import "../../scss/utils/vars.scss";

.sidebar {
  padding-top: rem(31);

  &__guests {
    margin-top: rem(21);
  }

  &__slider {
    margin-top: rem(31);
  }

  &__slider-text {
    font-size: rem(12);
    margin-top: rem(10);
  }

  &__checkbox-buttons {
    margin-top: rem(25);
  }

  &__checkbox-buttons-title {
    margin-bottom: rem(14);
  }

  &__checkbox-button {
    margin-top: rem(10.56);
  }

  &__features {
    margin-top: rem(35);
  }

  &__features-title {
    margin-bottom: rem(14);
  }

  &__feature {
    margin-top: rem(10);
  }

  &__amenities {
    margin-top: rem(32);
  }

  &__convinience {
    margin-top: rem(18);
  }
}