.rate-button {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &__label {
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}
