.rate-button {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &__label {
    
  }

  &__input {
    display: none;
  }
}


/*
background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
*/
