@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.rate-button {
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;

  &__label {
    width: rem(24);
    height: rem(24);
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}
