.bullet-list {
  &__item {
    display: flex;
  
    &:before {
      content: "";
  
      min-width: 10px;
      height: 10px;
      margin-top: 5px;
      margin-right: 10.43px;
  
      background: $darkShade25;
      border-radius: 50%;
    }
  }
}