mixin bullet(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/bullet/bullet.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { value } = config;

  .bullet #{value}
