mixin bullet(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/bullet/bullet.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .bullet #{config.value}