@import "../../scss/utils/vars.scss";

.bullet {
  display: flex;

  &:before {
    content: "";
    min-width: rem(10);
    height: rem(10);
    margin-top: rem(5);
    margin-right: rem(10);

    background: $darkShade25;
    border-radius: 50%;
  }
}