@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.dropdown {
  position: relative;
  user-select: none;

  &__title {
    margin-bottom: rem(5);
  }

  &__field {
    width: 100%;
    height: rem(44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      border-color: $darkShade50;
    }

    &_dropped {
      border-radius: 4px 4px 0 0;
      border-color: $darkShade50;
    }
  }

  &__field-input {
    width: 100%;
    padding: 0 rem(15);
    border: 0;
    background: transparent;
    font-family: $textFontFamily;
    font-size: rem(14);
    color: $darkShade75;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__expand-more {
    width: rem(42);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__list {
    display: none;
    width: 100%;
    padding: rem(2) rem(6) rem(4) rem(14);
    position: absolute;
    z-index: 3;
    top: 100%;
    background: #FFFFFF;
    border: 1px solid $darkShade50;
    border-top: 0;
    border-radius: 0 0 4px 4px;

    &_dropped {
      display: block;
    }
  }

  &__submit-area {
    display: flex;
    justify-content: space-between;

    &_hidden {
      display: none;
    }
  }

  &__button-wrapper {
    padding: rem(19) 0 rem(9) 0;
  }

  &__button_hidden {
    display: none;
  }
}