@import "../../scss/utils/vars.scss";

.footer {
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid rgba(31, 32, 65, 0.25);

  &__inner-wrapper {
    max-width: rem(1160);
    margin: auto;
    display: flex;
    justify-content: center;
    padding: rem(100) 0 rem(102) 0;

    @media screen and (max-width: rem(1160)) {
      width: 96%;
    }

    @media screen and (max-width: rem(980)) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: rem(480)) {
      flex-direction: column;
    }
  }

  &__first-column {
    max-width: rem(300);

    @media screen and (min-width: rem(481)) and (max-width: rem(980)) {
      max-width: 50%;
      order: 1;
    }

    @media screen and (max-width: rem(480)) {
      max-width: 100%;
    }
  }

  &__description {
    width: 87%;
    margin-top: rem(10);

    @media screen and (max-width: rem(480)) {
      width: 100%;
    }
  }

  &__column {
    width: rem(200);
    height: 100%;

    @media screen and (min-width: rem(481)) and (max-width: rem(980)) {
      width: 33%;
      margin-top:rem(40);
      justify-content: space-around;
      text-align: center;
      order: 3;
    }

    @media screen and (max-width: rem(480)) {
      width: 100%;
      margin-top:rem(40);
      justify-content: space-around;
      text-align: center;
      order: 3;
    }
  }

  &__link {
    display: block;
    line-height: rem(17);
    color: $darkShade50;
    margin-bottom: rem(20);

    &:first-child {
      margin-top: rem(4);
      margin-bottom: rem(21);
      font-size: rem(12);
      font-weight: bold;
      text-transform: uppercase;
      color: $darkShade100;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__last-column {
    max-width: rem(260);
    padding-top: rem(4);

    @media screen and (min-width: rem(481)) and (max-width: rem(980)) {
      order: 2;
      max-width: 50%;
    }

    @media screen and (max-width: rem(480)) {
      max-width: 100%;
      width: 100%;
      margin-top: rem(30);
    }
  }

  &__last-column-desc {
    margin-top: rem(21);
  }

  &__subscription-text-field {
    height: rem(44);
    margin-top: rem(20);
  }

  &__bottom-wrapper {
    width: 100%;
    border-top: 1px solid #E5E5E5;
  }

  &__bottom-part {
    max-width: rem(1160);
    height: rem(70);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: rem(1160)) {
      width: 96%;
    }

    @media screen and (max-width: rem(500)) {
      height: auto;
      padding: rem(10) 0;
      flex-direction: column-reverse;
    }
  }

  &__icon {
    margin-right: rem(22);

    &:last-child {
      margin-right: 0;
    }
  }

  &__single-column {
    text-align: center;
    margin-top: rem(20);
  }

  &__single-column-desc {
    max-width: rem(560);
    margin-top: rem(10);
  }

  &__single-column-social {
    margin-top: rem(20);
  }
}