.checkbox-button-rich {
  //width: 266px;
}

@import "./checkbox-button-rich__input.scss";
@import "./checkbox-button-rich__label.scss";
@import "./checkbox-button-rich__title.scss";
@import "./checkbox-button-rich__description.scss";
@import "./checkbox-button-rich__label-wrapper.scss";