mixin checkbox-button-rich(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/checkbox-button-rich/checkbox-button-rich.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { name, title, description, checked } = config;

  label.checkbox-button-rich
    input.checkbox-button-rich__input(type="checkbox" name=name checked=checked)
    .checkbox-button-rich__label
      .checkbox-button-rich__text
        h3.checkbox-button-rich__title #{title}
        p.checkbox-button-rich__description #{description}
