block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  body(class=pageClass)

    //include ../../img/svg/icons.svg

    .wrapper
      //include ../includes/modules/header
      block content
      //include ../includes/modules/footer