block variables
block includes

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block styles

  body(class=pageClass)

    block header

    .wrapper.wrapper_wide
      block content

    block footer

    block scripts