block variables
block includes

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block styles

  body

    block header

    .wrapper
      .left-content-wrapper
        block content

      .right-sidebar-wrapper
        block sidebar

    block footer

    block scripts