@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.suite {
  background: #FFFFFF;
  border-radius: rem(4);

  &__gallery {
    position: relative;
    width: 100%;
    height: rem(151);
    overflow: hidden;
    border-radius: 4px 4px 0 0;

    &:hover > .suite__arrow {
      display: flex;
    }
  }

  &__arrow {
    width: rem(44);
    height: rem(151);
    position: absolute;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
  }

  &__left-arrow {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__right-arrow {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__left-arrow-icon {
    transform: rotate(90deg);
  }

  &__right-arrow-icon {
    transform: rotate(-90deg);
  }

  &__dot {
    position: absolute;
    z-index: 3;
    top: rem(128.4);
    right: rem(15.11);
    width: rem(7.5);
    height: rem(7.5);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    cursor: pointer;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__image-input {
    display: none;

    &:checked + .suite__image {
      z-index: 2;
    }

    &:checked~.suite__dot {
      background: #FFFFFF;
    }
  }

  &__description {
    padding: rem(18) rem(20) rem(14) rem(20);
  }

  &__title {
    padding-bottom: rem(4);
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__link {
    cursor: pointer;
  }

  &__title-number {
    font-size: rem(20);
    line-height: rem(30);
    cursor: pointer;
  }

  &__title-number-sign {
    margin-right: rem(5);
    font-size: rem(14);
  }

  &__title-lux {
    margin-left: rem(5);
    font-size: 12px;
    color: $mainColor;
    text-transform: uppercase;
  }

  &__title-price {
    font-size: rem(14);
    font-weight: bold;
    line-height: rem(30);
    color: $darkShade50;

    & > span {
      margin-left: rem(5);
      font-size: rem(11);
      font-weight: normal;
    }
  }

  &__line {
    padding: 0 rem(20);

    & > hr {
      background: rgba(31, 32, 65, 0.1);
    }
  }

  &__rate {
    margin-top: rem(8);

    display: flex;
    justify-content: space-between;
  }

  &__feedbacks {
    color: $darkShade50;
    & > span {
      font-weight: bold;
      margin-right: rem(5);
    }
  }
}