.suite {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  &__gallery {
    position: relative;
    width: 100%;
    height: 151px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }

  &__arrow {
    width: 44px;
    height: 44px;
    position: absolute;
    z-index: 3;
    top: 53px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  &__left-arrow {
    left: 0;
    transform: rotate(90deg);
  }

  &__right-arrow {
    right: 0;
    transform: rotate(-90deg);
  }

  &__dot {
    position: absolute;
    z-index: 3;
    top: 128.4px;
    right: 15.11px;

    width: 7.5px;
    height: 7.5px;

    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    cursor: pointer;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }

  &__image-input {
    display: none;

    &:checked + .suite__image {
      z-index: 2;
    }

    &:checked~.suite__dot {
      background: #FFFFFF;
    }
  }

  &__description {
    padding: 17px 20px 14px 20px;
  }

  &__title {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title-number {
    font-size: 20px;
    line-height: 30px;
  }

  &__title-number-sign {
    margin-right: 5px;
    font-size: 14px;
  }

  &__title-lux {
    margin-left: 5px;

    font-family: $textFontFamily;
    font-size: 12px;
    color: $mainColor;
    text-transform: uppercase;
  }

  &__title-price {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: $darkShade50;

    & > span {
      margin-left: 5px;
      font-size: 11px;
      font-weight: normal;
    }
  }

  &__line {
    padding: 0 20px;

    & > hr {
      background: rgba(31, 32, 65, 0.1);
    }
  }

  &__rate {
    margin-top: 8px;

    display: flex;
    justify-content: space-between;
  }

  &__feedbacks {
    & > span {
      font-weight: bold;
      margin-right: 5px;
    }
  }
}