.range-slider {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__range {
    font-size: rem(12);
    line-height: rem(15);
  }

  &__line {
    margin-top: rem(23);
  }
}

.slider {
  &__range-line {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }

  &__handle {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
}