@import "../../scss/utils/vars.scss";
@import "../../scss/utils/mixins.scss";

.radio-button {
  &__input {
    display: none;

    &:checked + .radio-button__text {
      color: $darkShade75;
    }
    
    &:checked + .radio-button__text:before {
      border-color: $mainColor;
    }
    
    &:checked + .radio-button__text:after {
      display: block;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    line-height: rem(18);
    color: $darkShade50;
    cursor: pointer;

    &:hover {
      color: $darkShade75;
    }

    &:hover:before {
      border-color: $mainColor;
    }

    &:before {
      content: "";
      align-self: start;
      min-width: rem(20);
      height: rem(20);
      margin-right: rem(10);
      background-color: #FFFFFF;
      border: 1px solid $darkShade25;
      border-radius: 50%;
    }

    &:after {
      content: "";
      width: rem(12);
      height: rem(12);
      display: none;
      position: absolute;
      margin-left: rem(4);
      align-self: flex-start;
      margin-top: 4px;
      background: $gradient;
      border-radius: 50%;
    }
  }
}