@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

/*html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-family: $textFontFamily;
  font-weight: $mainFontWeight;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}*/

body {
  padding: 0;
  margin: 0;
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
}

*, *:before, *:after { 
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

a { text-decoration: none; }

ul, li {
  list-style-type: none;
  margin: 0;
}


h1 {
  font-family: $titleFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade100;
}

h2 {
  font-family: $titleFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $darkShade100;
}

h3 {
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@import "../common.blocks/logo/logo.scss";

@import "./modules/wrapper";
@import "../common.blocks/text-field/text-field.scss";
@import "../common.blocks/drop-down/drop-down.scss";
@import "../common.blocks/checkbox-button/checkbox-button.scss";
@import "../common.blocks/radio-button/radio-button.scss";

.radio-buttons {
  display: flex;
  justify-content: flex-start;
  
  width: 266px;
  height: 30px;
}

@import "../common.blocks/checkbox-button-rich/checkbox-button-rich.scss";
@import "../common.blocks/toggle/toggle.scss";

@import "../common.blocks/button/button.scss";

@import "../common.blocks/expandable-checkbox-list/expandable-checkbox-list.scss";

@import "../common.blocks/like-button/like-button.scss";
@import "../common.blocks/rate-button/rate-button.scss";
@import "../common.blocks/subscription-text-field/subscription-text-field.scss";
@import "../common.blocks/masked-text-field/masked-text-field.scss";
@import "../common.blocks/date-dropdown/date-dropdown.scss";
@import "../common.blocks/registration/registration.scss";

@import "../common.blocks/pagination/pagination.scss";
@import "../common.blocks/bullet-list/bullet-list.scss";
@import "../common.blocks/benefit/benefit.scss";
@import "../common.blocks/feedback/feedback.scss";

//Colors.html
.colors {
  position: absolute;
  top: 145px;
  left: 150px;
}

.colors__logo {
  width: 48px;
  height: 48px;

  position: absolute;
  top: 30px;
  left: 30px;
}

//Form elements
.form-elements__logo {
  width: 48px;
  height: 48px;

  position: absolute;
  top: 30px;
  left: 30px;
}

.form-elements__text-field {
  width: 320px;
  
  position: absolute;
  top: 143px;
  left: 141px;
}

.form-elements__text-field-hover {
  width: 320px;

  position: absolute;
  left: 141px;
  top: 227.44px;
}

.form-elements__drop-down {
  width: 320px;

  position: absolute;
  left: 141px;
  top: 311.44px;
}

.form-elements__masked-text-field {
  width: 320px;

  position: absolute;
  left: 141px;
  top: 398px;
}

.form-elements__date-dropdown {
  width: 320px;

  position: absolute;
  left: 141px;
  top: 502px;
}

.form-elements__subscription-text-field {
  width: 267px;
  height: 44px;

  position: absolute;
  left: 140px;
  top: 732px;
}

.form-elements__benefits {
  position: absolute;
  left: 140px;
  top: 1543px;
}

.form-elements__checkbox-buttons {
  width: 240px;

  position: absolute;
  left: 587px;
  top: 143px;
}

.form-elements__checkbox-buttons-title {
  margin-bottom: 13px;
}

.form-elements__checkbox-button {
  padding: 5px 0;
}

.form-elements__radio-buttons {
  position: absolute;
  left: 587px;
  top: 313px;
}

.form-elements__radio-buttons-title {
  margin-bottom: 16px;
}

.form-elements__radio-buttons-container {
  display: flex;
}

.form-elements__radio-button {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.form-elements__toggle {
  position: absolute;
  left: 587px;
  top: 404.56px;
}

.form-elements__toggle-title {
  margin-bottom: 9px;
}

.form-elements__toggle-item {
  padding: 7px 0;
}

.form-elements__like-buttons {
  position: absolute;
  left: 587px;
  top: 534px;
}

.form-elements__like-buttons-title {
  margin-bottom: 16px;
}

.form-elements__like-button {
  display: flex;
}

.form-elements__like-button-item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.form-elements__rate-buttons {
  position: absolute;
  left: 587px;
  top: 625px;
}

.form-elements__rate-buttons-title {
  margin-bottom: 16px;
}

.form-elements__rate-button {
  display: flex;
}

.form-elements__rate-button-item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.form-elements__buttons {
  width: 320px;

  position: absolute;
  left: 979px;
  top: 231px;
}

.form-elements__buttons-title {
  margin-bottom: 16px;
}

.form-elements__buttons-line {
  display: flex;

  margin-top: 30px;

  &_first {
    margin-top: 0;
  }
}

.form-elements__button {
  margin-left: 20px;
  line-height: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.form-elements__drop-down-default {
  width: 266px;

  position: absolute;
  left: 140px;
  top: 876px;
}

.form-elements__drop-down-expanded {
  width: 266px;

  position: absolute;
  left: 140px;
  top: 960px;
}

.form-elements__expandable-checkbox-list {
  width: 266px;

  position: absolute;
  left: 141px;
  top: 1180px;
}

.form-elements__expandable-checkbox-list-expanded {
  width: 266px;

  position: absolute;
  left: 140px;
  top: 1244px;
}

.form-elements__rich-checkbox-buttons{
  width: 266px;

  position: absolute;
  left: 587px;
  top: 1196px;
}

.form-elements__rich-checkbox-buttons-title {
  margin-bottom: 16px;
}

.form-elements__rich-checkbox-buttons-item {
  margin-top: 10px;
}

.form-elements__pagination {
  position: absolute;
  left: 980px;
  top: 540px;
}

.form-elements__pagination-title {
  margin-bottom: 16.44px;
}

.form-elements__bullet-list {
  width: 300px;

  position: absolute;
  left: 979px;
  top: 1196px;
}

.form-elements__bullet-list-title {
  margin-bottom: 10px;
} 

.form-elements__bullet-list-item {
  padding: 5px 0;
} 

.form-elements__feedback {
  width: 711px;

  position: absolute;
  left: 587px;
  top: 1573px;
}

@import "../common.blocks/color/color.scss";
@import "../common.blocks/types/types.scss";