@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

/*html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-family: $textFontFamily;
  font-weight: $mainFontWeight;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}*/

html {
  font-family: $textFontFamily;
  font-size: normal;
  font-weight: normal;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $darkShade75;

  @media screen and (max-width: $desktopWidth) {
    //font-size: 12px;
  }
}

body {
  padding: 0;
  margin: 0;
}

*, *:before, *:after { 
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p { 
  margin: 0; 
}

a { 
  text-decoration: none; 
}

ul, li {
  list-style-type: none;
  margin: 0;
}

h1 {
  font-family: $titleFontFamily;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade100;
  cursor: default;
}

h2 {
  font-family: $titleFontFamily;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $darkShade100;
  cursor: default;
}

h3 {
  font-family: $textFontFamily;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
  cursor: default;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

//common.blocks
@import "../common.blocks/text-field/text-field.scss";
@import "../common.blocks/dropdown/dropdown.scss";
@import "../common.blocks/checkbox-button/checkbox-button.scss";
@import "../common.blocks/radio-button/radio-button.scss";
@import "../common.blocks/checkbox-button-rich/checkbox-button-rich.scss";
@import "../common.blocks/toggle/toggle.scss";
@import "../common.blocks/button/button.scss";
@import "../common.blocks/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../common.blocks/like-button/like-button.scss";
@import "../common.blocks/rate-button/rate-button.scss";
@import "../common.blocks/subscription-text-field/subscription-text-field.scss";
@import "../common.blocks/masked-text-field/masked-text-field.scss";
@import "../common.blocks/date-dropdown/date-dropdown.scss";
@import "../common.blocks/registration/registration.scss";
@import "../common.blocks/pagination/pagination.scss";
@import "../common.blocks/bullet/bullet.scss";
@import "../common.blocks/benefit/benefit.scss";
@import "../common.blocks/feedback/feedback.scss";
@import "../common.blocks/search-form/search-form.scss";
@import "../common.blocks/receipt/receipt.scss";
@import "../common.blocks/login/login.scss";
@import "../common.blocks/suite/suite.scss";
@import "../common.blocks/color/color.scss";
@import "../common.blocks/types/types.scss";
@import "../common.blocks/header/header.scss";
@import "../common.blocks/footer/footer.scss";
@import "../common.blocks/sidebar/sidebar.scss";
@import "../common.blocks/calendar/calendar.scss";
@import "../common.blocks/filter-date-dropdown/filter-date-dropdown.scss";
@import "../common.blocks/slider/slider.scss";
@import "../common.blocks/donut-chart/donut-chart.scss";

//Pages
//@import "../pages/colors/colors.scss";
@import "../pages/form-elements/form-elements.scss";
@import "../pages/cards/cards.scss";
/*@import "../pages/headers/headers.scss";
@import "../pages/landing/landing.scss";
@import "../pages/registration/registration.scss";
@import "../pages/login/login.scss";
@import "../pages/searchroom/searchroom.scss";
@import "../pages/room_details/room_details.scss";*/



//@import "./modules/wrapper";

/*.radio-buttons {
  display: flex;
  justify-content: flex-start;
  
  width: 266px;
  height: 30px;
}*/