body {
  background: #F4F4F6;
}

.cards {
  
  &__logo {
    width: 48px;
    height: 48px;
  
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__search-form {
    width: 380px;

    position: absolute;
    left: 140px;
    top: 150px;
  }

  &__registration {
    width: 380px;

    position: absolute;
    left: 140px;
    top: 564px;
  }

  &__receipt {
    width: 380px;

    position: absolute;
    left: 560px;
    top: 150px;
  }

  &__login {
    width: 380px;

    position: absolute;
    left: 560px;
    top: 701px;
  }

  &__suite1 {
    width: 270px;
    
    position: absolute;
    left: 980px;
    top: 559.5px;
  }

  &__suite2 {
    width: 270px;

    position: absolute;
    left: 980px;
    top: 856.5px;
  }
}