extends ../../layout/landing 

include ../../common.blocks/logo/logo 
include ../../common.blocks/search-form/search-form 
include ../../common.blocks/registration-form/registration-form 
include ../../common.blocks/receipt/receipt 
include ../../common.blocks/login-form/login-form 
include ../../common.blocks/suite/suite 
include ../../common.blocks/calendar/calendar 

block variables
  - const pageTitle = 'Cards';
  - const pageDescription = 'Cards';
  - const pageClass = 'cards js-cards';
  - const data = require('./cards.data.json');
  - const { receiptParameters, suites } = data;

block styles
  link(rel="stylesheet" href="assets/css/cards.css")

block scripts
  script(type="text/javascript" src="assets/js/cards.js")

block header 
  .cards__logo
    +logo_blank()

block content
  .cards__background
    .cards__content
      .cards__column
        .cards__search-form.js-cards__search-form
          +search-form()

        .cards__registration
          +registration-form()

      .cards__column
        .cards__receipt.js-cards__receipt
          +receipt(receiptParameters)

        .cards__login
          +login-form()

      .cards__column
        .cards__calendar.js-cards__calendar
          +calendar()

        .cards__suite.js-cards__suite
          +suite(suites[0])

        .cards__suite.js-cards__suite
          +suite(suites[1])
