extends ../../pug/layout/main

include ../../common.blocks/logo/logo.pug 
include ../../common.blocks/search-form/search-form.pug 
include ../../common.blocks/registration/registration.pug 
include ../../common.blocks/receipt/receipt.pug 
include ../../common.blocks/login/login.pug 
include ../../common.blocks/suite/suite.pug 
include ../../common.blocks/calendar/calendar.pug 

block variables
  - var title = 'Cards';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block styles
  link(rel="stylesheet" href="/assets/css/cards.css")

block scripts
  script(type="text/javascript" src="/assets/js/cards.js")

block content
  - var data = require("./cards_data.json");

  .cards
    .cards__logo
      +logo_blank()

    .cards__search-form
      +search-form()

    .cards__registration
      +registration({})

    .cards__receipt 
      +receipt(data.receipt_parameters)

    .cards__login
      +login()

    .cards__calendar
      +calendar()

    .cards__suite1
      +suite(data.suites[0])

    .cards__suite2
      +suite(data.suites[1])
