extends ../../pug/layout/landing 

include ../../common.blocks/logo/logo 
include ../../common.blocks/search-form/search-form 
include ../../common.blocks/registration/registration 
include ../../common.blocks/receipt/receipt 
include ../../common.blocks/login/login 
include ../../common.blocks/suite/suite 
include ../../common.blocks/calendar/calendar 

block variables
  - var title = 'Cards';
  - var description = 'Cards';
  - var data = require("./cards_data.json");

block styles
  link(rel="stylesheet" href="/assets/css/cards.css")

block scripts
  script(type="text/javascript" src="/assets/js/cards.js")

block header 
  .cards__logo
    +logo_blank()

block content
  .cards-wrapper
    .cards
      .cards__column
        .cards__search-form
          +search-form()

        .cards__registration
          +registration()

      .cards__column
        .cards__receipt 
          +receipt(data.receipt_parameters)

        .cards__login
          +login()

      .cards__column
        .cards__calendar.js-cards__calendar
          +calendar()

        .cards__suite
          +suite(data.suites[0])

        .cards__suite
          +suite(data.suites[1])
