.cards__logo {
  padding-top: 30px; //should think about a better way to position logo
  padding-left: 30px;
}

.cards__wrapper {
  min-width: 100%;
  background: #F4F4F6;
}

.cards {
  max-width: rem(1160);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: rem(65) 0;

  @media screen and (max-width: $desktopWidth) {
    justify-content: space-evenly;
  }

  &__column {
    width: 32.76%;

    &:last-child {
      width: 27.59%;
    }

    @media screen and (max-width: $desktopWidth) {
      width: 38.78%;

      &:last-child {
        width: rem(320);
      }
    }

    @media screen and (max-width: $smDesktopWidth) {
      width: 48%;
    }

    @media screen and (max-width: $tableWidth) {
      width: 80%;
    }

    @media screen and (max-width: $phoneWidth) {
      width: 100%;
      margin-bottom: rem(20);

      &:last-child {
        width: 100%;
      }
    }
  }

  &__search-form {
    margin-bottom: rem(39);
  }

  &__registration {
    margin-bottom: rem(40);
  }

  &__receipt {
    margin-bottom: rem(40);
  }

  &__login {
    margin-bottom: rem(40);
  }

  &__calendar {
    margin-bottom: rem(40);
  }

  &__suite {
    width: 84.375%;
    margin-bottom: rem(40);
  }
}