mixin checkbox-button(name, text, checked)
  if checked=='checked'
    .checkbox-button
      label
        input.checkbox-button__input(type='checkbox' name=name checked)
        p.checkbox-button__text #{text}
  else
    .checkbox-button
      label
        input.checkbox-button__input(type='checkbox' name=name)
        p.checkbox-button__text #{text}
      