mixin subscription-text-field()
  form.subscription-text-field(action="")
    input.subscription-text-field__input(type="text" name='Email' placeholder='Email')
    button.subscription-text-field__button(type="submit")
      i.material-icons.subscription-text-field__icon arrow_forward