mixin text-field(name, title, placeholder)
  .text-field
    if title
      h3.text-field__title(class='text-field__title')=title
    input(type='text', class='text-field__input', name=name, placeholder=placeholder)