include ../text-field/text-field.pug 
include ../button/button.pug 

mixin login(customConfig = {})
  - const blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/login/login.config.json');
  - let config = defaultConfig;
  - config = blocks.mergeConfig(defaultConfig, customConfig);

  .login
    h1.login__title Войти
    .login__text-field
      +text-field('Email', '', 'Email')
    .login__text-field
      +text-field('password', '', 'Пароль')
    .login__button
      +button(config.buttons[0])
    .login__registration
      p Нет аккаунта на Toxin?
      +button(config.buttons[1])
