include ../text-field/text-field.pug 
include ../button/button.pug 

mixin login(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/login/login.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  form.login(method=config.method action=config.action)
    h1.login__title #{config.vocabulary.title}
    .login__text-field
      +text-field(config.textfields[0])
    .login__text-field
      +text-field(config.textfields[1])
    .login__button
      +button(config.buttons[0])
    .login__registration
      p #{config.vocabulary.loginText}
      .login__registration-button
        +button(config.buttons[1])
