.login {
  padding: rem(30);

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-top: rem(10);
  }

  &__text-field {
    margin-top: rem(10);

    &:first-of-type {
      margin-top: rem(20);
    }
  }

  &__button {
    margin-top: rem(20);
    height: rem(44);
  }

  &__registration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: rem(30);
  }

  &__registration-button {
    height: rem(44);
  }
}