block variables
  - let pageTitle
  - let pageDescription
  - let pageKeyWords

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    
    title #{pageTitle}
    meta(name="description" content= pageDescription)
    meta(name="keywords" content= pageKeyWords)
    block styles

  body

    block header

    block content

    block footer

    block scripts