block variables
  - const pageTitle
  - const pageDescription
  - const pageKeyWords
  - const pageClass
  - const sidebarClass

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    
    title #{pageTitle}
    meta(name="description" content= pageDescription)
    meta(name="keywords" content= pageKeyWords)
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    block styles

  body(class=pageClass)

    block header

    .wrapper
      .sidebar-wrapper(class=sidebarClass)
        block sidebar

      .content-wrapper
        block content

    block footer

    block scripts